<div id="category" class="category">
  <!-- 외부 소스 사용 (https://codepen.io/Creaticode/pen/ecAmo) -->
  <iframe id="plugin-like" src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Flocalhost%3A3000%2F&width=161&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId=1918640808399725" width="161" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  <span id="x-icon" class="glyphicon glyphicon-remove" aria-hidden="true" onclick="closeNav()"></span>
  <h1>Category</h1>
	<!-- Contenedor -->
	<ul id="accordion" class="accordion">
    <li class="default open">
      <div class="link">Best</div>
      <ul class="submenu">
        <li><a href="#" onclick="moveToCategory('커플룩')">커플룩</a></li>
        <li><a href="#" onclick="moveToCategory('반팔셔츠')">반팔셔츠</a></li>
        <li><a href="#" onclick="moveToCategory('남친룩')">남친룩</a></li>
      </ul>
    </li>
		<li>
			<div class="link">OUTER</div>
			<ul class="submenu">
				<li><a href="#" onclick="moveToCategory('자켓 점퍼')">자켓/점퍼</a></li>
				<li><a href="#" onclick="moveToCategory('패딩 봄버')">패딩/봄버</a></li>
				<li><a href="#" onclick="moveToCategory('코트')">코트</a></li>
			</ul>
		</li>
		<li>
			<div class="link">TOP</div>
			<ul class="submenu">
				<li><a href="#" onclick="moveToCategory('반팔 7부티')">반팔/7부티</a></li>
				<li><a href="#" onclick="moveToCategory('스트라이프 프린팅티')">스트라이프/프린팅티</a></li>
				<li><a href="#" onclick="moveToCategory('루즈 오버핏')">루즈/오버핏</a></li>
        <li><a href="#" onclick="moveToCategory('긴팔티 맨투맨')">긴팔티/맨투맨</a></li>
        <li><a href="#" onclick="moveToCategory('니트')">니트티</a></li>
			</ul>
		</li>
		<li>
			<div class="link">SHIRTS</div>
			<ul class="submenu">
				<li><a href="#" onclick="moveToCategory('기본셔츠')">기본셔츠</a></li>
				<li><a href="#" onclick="moveToCategory('차이나셔츠')">차이나셔츠</a></li>
				<li><a href="#" onclick="moveToCategory('체크 패턴 데님셔츠')">체크/패턴/데님셔츠</a></li>
			</ul>
		</li>
		<li><div class="link">PANTS</div>
			<ul class="submenu">
				<li><a href="#" onclick="moveToCategory('런던 슬랙스')">런던 슬랙스</a></li>
				<li><a href="#" onclick="moveToCategory('슬랙스')">슬랙스</a></li>
				<li><a href="#" onclick="moveToCategory('청바지')">청바지</a></li>
				<li><a href="#" onclick="moveToCategory('면바지')">면바지</a></li>
        <li><a href="#" onclick="moveToCategory('반바지')">반바지</a></li>
        <li><a href="#" onclick="moveToCategory('밴딩 팬츠')">밴딩 팬츠</a></li>
        <li><a href="#" onclick="moveToCategory('트레이닝')">트레이닝</a></li>
			</ul>
		</li>
	</ul>
</div>
